<div class="main">
    <!--Main Navigation-->
    <header>
      <!-- Heading -->
      <div class="p-5 bg-light mb-4">
        <h1 class="">Profile</h1>
        <!-- Breadcrumb -->
        <nav class="d-flex">
          <h6 class="mb-0">
            <a href="" class="text-reset">Dashboard</a>
            <span>/</span>
            <a href="" class="text-reset">Profile</a>
          </h6>
        </nav>
        <!-- Breadcrumb -->
      </div>
      <!-- Heading -->
    </header>
  
    <div class="part1">
      <div class="box1">
        <div class="p1img"><img
            src="https://smarthr.dreamstechnologies.com/materialize/template/assets/img/profiles/avatar-02.jpg" alt="img">
        </div>
        <div class="b1left">
          <h3 class="user-name m-t-0 mb-0">John Doe</h3>
          <h6 class="text-muted">UI/UX Design Team</h6>
          <small class="text-muted">Web Designer</small>
          <div class="staff-id">Employee ID : FT-0001</div>
          <div class="small doj text-muted">Date of Join : 1st Jan 2013</div>
          <div class="btn1"><a class="btn waves-effect  btn-custom">Send Message</a></div>
        </div>
      </div>
      <!-- <div class="p1gap" > 
          <small>.</small><br>
          <small>.</small><br>
          <small>.</small><br>
          <small>.</small><br>
          <small>.</small><br>
          <small>.</small><br>
          <small>.</small><br>
          <small>.</small><br>
          <small>.</small><br>
      </div>  -->
      <div class="box2">
        <div class="b2">
          <ul class="personal-info">
            <li>
              <div class="title">Phone:</div>
              <div class="text"><a href="">9876543210</a></div>
            </li>
            <li>
              <div class="title">Email:</div>
              <div class="text"><a href="">johndoe@example.com</a></div>
            </li>
            <li>
              <div class="title">Birthday:</div>
              <div class="text">24th July</div>
            </li>
            <li>
              <div class="title">Address:</div>
              <div class="text">1861 Bayonne Ave, Manchester Township, NJ, 08759</div>
            </li>
            <li>
              <div class="title">Gender:</div>
              <div class="text">Male</div>
            </li>
            <li>
              <div class="title">Reports to:</div>
              <div class="text">
                <div class="avatar-box">
                </div>
                <a href="profile.html">
                  Jeffery Lalor
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <!--tab -->
    <div class="tab">
      <!-- profile section -->
      <mdb-tabs>
        <mdb-tab title="Profile">
          <!-- part-2 -->
          <div class="part2">
            <!-- box 3 -->
            <div class="box3">
              <span class="b3Title">
                <h3>Personal Informations<a class="edit-icon modal-trigger" data-bs-toggle="modal"
                    href="personal_information_modal"></a></h3>
              </span>
              <div class="pencil"><i class="fa fa-pencil"></i></div>
              <ul class="personal-info">
                <li>
                  <div class="title">Passport No.</div>
                  <div class="text">9876543210</div>
                </li>
                <li>
                  <div class="title">Passport Exp Date.</div>
                  <div class="text">9876543210</div>
                </li>
                <li>
                  <div class="title">Tel</div>
                  <div class="text"><a href="">9876543210</a></div>
                </li>
                <li>
                  <div class="title">Nationality</div>
                  <div class="text">Indian</div>
                </li>
                <li>
                  <div class="title">Religion</div>
                  <div class="text">Christian</div>
                </li>
                <li>
                  <div class="title">Marital status</div>
                  <div class="text">Married</div>
                </li>
                <li>
                  <div class="title">Employment of spouse</div>
                  <div class="text">No</div>
                </li>
                <li>
                  <div class="title">No. of children</div>
                  <div class="text">2</div>
                </li>
              </ul>
            </div>
            <!-- box 4 -->
            <div class="box4">
              <div class="card-body">
                <h3 class="card-title">Emergency Contact <a class="edit-icon modal-trigger" data-bs-toggle="modal"
                    href="#emergency_contact_modal"></a></h3>
                <div class="pencil"><i class="fa fa-pencil"></i></div>
                <h5 class="section-title">Primary</h5>
                <ul class="personal-info">
                  <li>
                    <div class="title">Name</div>
                    <div class="text">John Doe</div>
                  </li>
                  <li>
                    <div class="title">Relationship</div>
                    <div class="text">Father</div>
                  </li>
                  <li>
                    <div class="title">Phone </div>
                    <div class="text">9876543210, 9876543210</div>
                  </li>
                </ul>
                <hr>
                <h5 class="section-title">Secondary</h5>
                <ul class="personal-info">
                  <li>
                    <div class="title">Name</div>
                    <div class="text">Karen Wills</div>
                  </li>
                  <li>
                    <div class="title">Relationship</div>
                    <div class="text">Brother</div>
                  </li>
                  <li>
                    <div class="title">Phone </div>
                    <div class="text">9876543210, 9876543210</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
  
          <!-- part-3 -->
          <div class="part3">
            <!-- box 5 -->
            <div class="box5">
              <div class="card-body">
                <h3 class="card-title">Bank information</h3>
                <ul class="personal-info">
                  <li>
                    <div class="title">Bank name</div>
                    <div class="text">ICICI Bank</div>
                  </li>
                  <li>
                    <div class="title">Bank account No.</div>
                    <div class="text">159843014641</div>
                  </li>
                  <li>
                    <div class="title">IFSC Code</div>
                    <div class="text">ICI24504</div>
                  </li>
                  <li>
                    <div class="title">PAN No</div>
                    <div class="text">TC000Y56</div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- box 6 -->
            <div class="box6">
              <div class="card-body">
                <h3 class="card-title">Family Informations <a class="edit-icon modal-trigger" data-bs-toggle="modal"
                    href="#family_info_modal"></a></h3>
                <div class="pencil"><i class="fa fa-pencil"></i></div>
                <div class="responsive-table">
                  <table class="table table-nowrap">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Relationship</th>
                        <th>Date of Birth</th>
                        <th>Phone</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Leo</td>
                        <td>Brother</td>
                        <td>Feb 16th, 2019</td>
                        <td>9876543210</td>
                        <td class="right-align">
                          <!-- <div class="dropdown dropdown-action"> -->
                          <!-- <a aria-expanded="false" data-bs-toggle="dropdown" class="action-icon dropdown-toggle" href="#"><i class="material-icons">more_vert</i></a> -->
                          <!-- <div id="dropdown-status" class="dropdown-content dropdown-menu dropdown-menu-right">
                              <a href="#" class="dropdown-item"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                              <a href="#" class="dropdown-item"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                            </div> -->
                          <!-- </div> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
  
          <!-- part-4 -->
          <div class="part4">
            <!-- box-7 -->
            <div class="box7">
              <div class="card-body">
                <h3 class="card-title">Education Informations <a class="edit-icon modal-trigger" data-bs-toggle="modal"
                    href="#education_info"></a></h3>
                <div class="pencil"><i class="fa fa-pencil"></i></div>
                <div class="experience-box">
                  <ul class="experience-list">
                    <li>
                      <div class="experience-user">
                        <div class="before-circle"></div>
                      </div>
                      <div class="experience-content">
                        <div class="timeline-content">
                          <a href="#/" class="name">International College of Arts and Science (UG)</a>
                          <div>Bsc Computer Science</div>
                          <span class="time">2000 - 2003</span>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="experience-user">
                        <div class="before-circle"></div>
                      </div>
                      <div class="experience-content">
                        <div class="timeline-content">
                          <a href="#/" class="name">International College of Arts and Science (PG)</a>
                          <div>Msc Computer Science</div>
                          <span class="time">2000 - 2003</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- box-8 -->
            <div class="box8">
              <div class="card-body">
                <h3 class="card-title">Experience <a class="edit-icon modal-trigger" data-bs-toggle="modal"
                    href="#experience_info"></a></h3>
                <br>
                <div class="pencil"><i class="fa fa-pencil"></i></div>
                <div class="experience-box">
                  <ul class="experience-list">
                    <li>
                      <div class="experience-user">
                        <div class="before-circle"></div>
                      </div>
                      <div class="experience-content">
                        <div class="timeline-content">
                          <a href="#/" class="name">Web Designer at Zen Corporation</a>
                        </div>
                        <span class="time">Jan 2013 - Present (5 years 2 months)</span>
  
                      </div>
                    </li>
                    <li>
                      <div class="experience-user">
                        <div class="before-circle"></div>
                      </div>
                      <div class="experience-content">
                        <div class="timeline-content">
                          <a href="#/" class="name">Web Designer at Ron-tech</a>
                        </div>
                        <span class="time">Jan 2013 - Present (5 years 2 months)</span>
  
                      </div>
                    </li>
                    <li>
                      <div class="experience-user">
                        <div class="before-circle"></div>
                      </div>
                      <div class="experience-content">
                        <div class="timeline-content">
                          <a href="#/" class="name">Web Designer at Dalt Technology</a>
                        </div>
                        <span class="time">Jan 2013 - Present (5 years 2 months)</span>
  
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
  
        </mdb-tab>
  
        <mdb-tab title="Project">Tab content 2</mdb-tab>
        <mdb-tab title="Bank & Statutory (Admin Only)">Tab content 3</mdb-tab>
      </mdb-tabs>
    </div>
  </div>